.sunburst {
  line-height: 300px;
}
.calendar {
  line-height: 300px;
}
.bubble {
  line-height: 460px;
}
.scatter {
  line-height: 300px;
}
.wind_map {
  line-height: 200px;
}
.windflow {
  line-height: 300px;
}
.sankey {
  line-height: 200px;
}