.panel {
  position: relative;
  height: 320px;
  border: 1px solid rgba(25, 186, 139, 0.17);
  background: rgba(255, 255, 255, 0.04) url(../../img/line.png);
  padding: 0 0.1875rem 0.5rem;
  margin-bottom: 0.1875rem;
}
.panel::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 2px solid #5382E2;
  border-left: 2px solid #5382E2;
}
.panel::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 2px solid #5382E2;
  border-right: 2px solid #5382E2;
}
.panel .panel-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.panel .panel-footer::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 2px solid #5382E2;
  border-left: 2px solid #5382E2;
}
.panel .panel-footer::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 2px solid #5382E2;
  border-right: 2px solid #5382E2;
}
.map_panel {
  height: 400px;
  margin-top: 20px;
}
.line_panel {
  height: 400px;
  margin-top: 20px;
}
.time_panel {
  width: 97%;
  height: 240px;
  margin-top: 19px;
  margin-left: 10px;
}
.loc_panel {
  width: 97%;
  height: 558px;
  margin-top: 20px;
  margin-left: 10px;
}
.loc_panel h2,
.time_panel h2,
.line_panel h2,
.map_panel h2 {
  line-height: 25px;
  font-size: 12px;
  color: #DDF6FF;
  background: linear-gradient(to right, #1F3D81 , #162854);
  text-align: center;
  font-weight: 500;
  margin-top: 2px;
}
.button {
  border-radius: 0;
}