.so2 .value1 {
  font-size: 14px;
  color: #fff;
  margin-left: 90px;
  margin-top: 5px;
}
.so2 .value2 {
  font-size: 14px;
  color: #fff;
  margin-left: 120px;
  margin-top: 5px;
}
.so2 .value3 {
  font-size: 14px;
  color: #fff;
  margin-left: 90px;
  margin-top: 5px;
}
.no2 .value1 {
  font-size: 14px;
  color: #fff;
  margin-left: 90px;
  margin-top: 5px;
}
.no2 .value2 {
  font-size: 14px;
  color: #fff;
  margin-left: 120px;
  margin-top: 5px;
}
.no2 .value3 {
  font-size: 14px;
  color: #fff;
  margin-left: 120px;
  margin-top: 5px;
}
.no2 .value4 {
  font-size: 14px;
  color: #fff;
  margin-left: 90px;
  margin-top: 5px;
}
.total .value1 {
  font-size: 14px;
  color: #fff;
  margin-left: 140px;
  margin-top: 22px;
}
.total .value2 {
  font-size: 14px;
  color: #fff;
  margin-left: 130px;
  margin-top: 22px;
}
.total .value3 {
  font-size: 14px;
  color: #fff;
  margin-left: 55px;
  margin-top: 22px;
}
.total .value4 {
  font-size: 14px;
  color: #fff;
  margin-left: 80px;
  margin-top: 22px;
}